/* You can add global styles to this file, and also import other style files */
*
{
    padding: 0%;
    margin: 0;
    ;
}
:root
{
    --primary-color: #201f1d;
    --secondary-color: #882331;
    --accent-color: #d4a361;  
}
body {
    height: 100vh;
    font-family: 'Libre Franklin', sans-serif;

}