.footer {
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: var(--primary-color);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
   
}

.row {
    /* display:flex;
    align-items: center;
    justify-content:flex-start; */
}

h1 {
    color: var(--accent-color);
    font-size: 20px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 0px 5px;
    font-size: 17px;
  
}

a:hover {
   filter: brightness(85%);
}

.col-lg-2 {

    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
}